@use "../../scss/" as *;
.header {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    transition: height 0.3s ease, background-color 0.3s ease; 
    & .header-wrap {
        height: 100%;
        @include flex(center,space-between);
        padding: 0 32px;
        @include mobile {
            justify-content: center;
        }
    }
    &.shrink {
        height: $header-shrink-height;
        background-color: $body-bg;
    }
}
.h-left {
    @include flex(center, space-between);
    gap: 10px;
}
.h-brand {
    font-size: 2.5rem;
    font-weight: 600;
}
.h-right {
    font-size: 1.5rem;
    font-weight: 700;
    @include flex(center, space-between);
    gap: 32px;
    @include mobile {
        display: none;
    }
}
.h-logo {
    @include mobile {
        transform: scale(0.8);
    }
}
.h-link {
    display: block;
    position: relative;
    padding: 5px 0;
    &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: $main-color;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        height: 2px;
        width: 0;
        transition: width 0.5s ease;
    }
    &.active::after,
    &:hover::after {
        width: 100%;
    }
}